@charset 'utf-8';

$f:100px;

html{
    font-size: $f;
}

@function fs($px){
    @return ($px/$f*1rem) ;
}

.web{
    .haikou{
        right: fs(130px);
        top: fs(30px);
    }
     .sanya{
        left: fs(195px);
        top: fs(325px);
    }
    .hainan_map{
        width: fs(491px);
        margin:fs(-15px) auto 0 auto ;
    }
    .guangdong_head{
        display: none;
    }
}


